#bord {
	 border: 1px 
	 solid #000; 
	 padding: 5px;
}
#newsimg{
	height:250px; 
	width:200px;
}
#newstext{
	margin-left:60px; 
	margin-top:20px;
}
#newsbutton{
	margin-bottom:100px;
}

#map {
        width: 100%;
        height: 400px;
      }

#info{
	/*margin-left:50px;*/
	height:50%;
}

.singleEntryImg
{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 12px;
}

.singleEntryBottom
{
	margin-top: 50px;
}

.personImg
{
	width: 100%;
	height: auto;
}

.navBar
{
	height:90px;
}

.navLogo
{
	height:80px;
}

.navDropDown
{
	height:64px;
}



