<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/custom.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
</head>

<body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>
    <script type="text/javascript" src="js/init.js"></script>

    <nav class="pink darken-4 navBar">
        <div class="col s12 m2">
            <img src="img/logo.png" class="navLogo" />
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">

                <li class="z-depth-3 teal"><a class="white-text" href="index.html">Index</a></li>
                <li class="z-depth-3 teal"><a class="white-text" href="news.html">News</a></li>
                <li <a class='dropdown-button btn navDropDown' href='#' data-activates='dropdown1'>About us</a>
                </li>

                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="personJustinas.html">Justinas</a></li>
                    <li><a href="personArturas.html">Arturas</a></li>
                    <li><a href="personDainius.html">Dainius</a></li>
                </ul>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="index.html">Index</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="aboutus.html">About us</a></li>

            </ul>
        </div>
    </nav>

    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="index.html" class="breadcrumb">Home</a>
                <a href="#!" class="breadcrumb">About Us</a>
            </div>
        </div>
    </nav>

    <h2 class="center">About Us</h2>


    <div>

        <div class="row container">
            <div class="row z-depth-3">

                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" href="#test1">Rio</a></li>

                        <li class="tab col s3"><a href="#test2">One</a></li>
                        <li class="tab col s3"><a href="#test3">Two</a>Test2</li>
                        <li class="tab col s3"><a href="#test4">Three</a>Test3</li>
                    </ul>
                </div>
                <div id="test1" class="col s12">
                    <img src="img/vcs.jpg" alt="Rio1" style="width:100%;height:auto;" class="hide-on-small-only">

                    <p>
                        Vilnius International School (Lithuanian: Vilniaus tarptautinėje mokykla) is a private primary and middle school located
                        in the Old Town of Vilnius, Lithuania.[1] It was established in 2004 and provides education in the
                        English language. As of 2010, the curriculum at Vilnius International School is the International
                        Baccalaureate educational system, making it the first school in Lithuania to offer the IB Primary
                        Years Programme (PYP).[2] In 2013 school year, the school had 285 students: 40% Lithuanians, 18%
                        half Lithuanian, and 42% foreigners from 34 different nations.
                    </p>

                    <a href="http://www.vilniuscoding.lt">Vilnius Coding </a>
                </div>
                <div id="test2" class="col s12">
                    <img src="img/kavaHolikas.jpg" alt="Rio1" style="width:100%;height:auto;" class="hide-on-small-only">
                    <a href="personJustinas.html">Info</a>
                </div>
                <div id="test3" class="col s12">
                    <img src="img/arturas.jpg" alt="Rio1" style="width:100%;height:auto;" class="hide-on-small-only">
                    <a href="personArturas.html">Info</a>
                </div>
                <div id="test4" class="col s12">
                    <img src="img/as.jpg" alt="Rio1" style="width:100%;height:auto;" class="hide-on-small-only">
                    <a href="personDainius.html">Info</a>
                </div>
            </div>

            <!-- Tabs -->


        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <div id="gmap_canvas" style="height:50%;width:100%;"></div>
                <a href="http://www.vilniuscoding.lt">www.vilniuscoding.lt</a>
            </div>

            <div id="info" class="col l6 z-depth-3 s12">
                Name: VILNIUS CODING SCHOOL
                <br> Address: Galvydzio g. 5,
                <br> City: Vilnius
                <br> Country: Lithuania
                <br> Mobile: +370 687 867 92
                <br> Postal Code: LT-08236, Vilnius
                <br> Email: info@vilniuscoding.lt
            </div>
        </div>
    </div>

    <script type="text/javascript">
         function init_map(){var myOptions = {zoom:16,center:new google.maps.LatLng(54.71213988085982,25.28755925216683),mapTypeId: google.maps.MapTypeId.HYBRID};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(54.71213988085982, 25.28755925216683)});infowindow = new google.maps.InfoWindow({content:"<b></b><br/><br/> " });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});}google.maps.event.addDomListener(window, 'load', init_map);
    </script>

    <style>
        #gmap_canvas img {
            max-width: none!important;
            background: none!important
        }
    </style>

    </div>

</body>