<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.js"></script>
  <script type="text/javascript" src="js/init.js"></script>
  
  <link type="text/css" rel="stylesheet" href="css/custom.css" />
  <link type="text/css" rel="stylesheet" href="css/animate.css" />
  <script src="js/paralaxJS.js"></script>
  <meta charset="UTF-8">
  <title>Welcome</title>
</head>

<body>
  <nav class="pink darken-4 navBar">
    <div class="col s12 m2">
      <img src="img/logo.png" class="navLogo" />
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">

        <li class="z-depth-3 teal"><a class="white-text" href="index.html">Index</a></li>
        <li class="z-depth-3 teal"><a class="white-text" href="news.html">News</a></li>
        <li <a class='dropdown-button btn navDropDown' href='#' data-activates='dropdown1'>About us</a>
        </li>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="aboutus.html">About Us</a></li>
          <li><a href="personJustinas.html">Justinas</a></li>
          <li><a href="personArturas.html">Arturas</a></li>
          <li><a href="personDainius.html">Dainius</a></li>
        </ul>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="index.html">Index</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="aboutus.html">About us</a></li>

      </ul>
    </div>
  </nav>

  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#!" class="breadcrumb">Home</a>

      </div>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="parallax"><img src="img\olimpas.jpg" alt="Unsplashed background img 1"></div>
        <br><br>
        <h1 class="header center teal-text text-lighten-2">RIO 16</h1>

        <div class="row center">
          <a href="https://www.rio2016.com/en" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="img/baseinas.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="row">

    <div class="col s12 m4">
      <div class="icon-block center-align" </div>
        <h2 class="center brown-text"><i class="material-icons">grade</i></h2>
        <h5 class="center">Basketball</h5>
        <a class="waves-effect waves-light btn-large" class="valign" href="singleentry.html">Button</a>
      </div>

      <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally,
        we refined animations and transitions to provide a smoother experience for developers.</p>

    </div>

    <div class="col s12 m4">
      <div class="icon-block center-align" </div>
        <h2 class="center brown-text"><i class="material-icons">snooze</i></h2>
        <h5 class="center">Runnig</h5>
        <a class="waves-effect waves-light btn-large" class="valign" href="singleentry.html">Button</a>

        <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components
          and animations that provide more feedback to users. Additionally, a single underlying responsive system across
          all platforms allow for a more unified user experience.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block center-align" </div>
        <h2 class="center brown-text"><i class="material-icons">my_location</i></h2>
        <h5 class="center">Shooting</h5>
        <a class="waves-effect waves-light btn-large" class="valign" href="singleentry.html">Button</a>

        <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also
          always open to feedback and can answer any questions a user may have about Materialize.</p>
      </div>
    </div>
  </div>


</body>