<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="css/custom.css" media="screen,projection" />
  <!--Let browser know website is optimized for mobile-->
  
  <link type="text/css" rel="stylesheet" href="css/animate.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8">
  <title>News</title>
</head>

<body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.js"></script>
  <script type="text/javascript" src="js/init.js"></script>
  
  <nav class="pink darken-4 navBar">
    <div class="col s12 m2">
      <img src="img/logo.png" class="navLogo" />
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">

        <li class="z-depth-3 teal"><a class="white-text" href="index.html">Index</a></li>
        <li class="z-depth-3 teal"><a class="white-text" href="news.html">News</a></li>
        <li <a class='dropdown-button btn navDropDown' href='#' data-activates='dropdown1'>About us</a>
        </li>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="aboutus.html">About Us</a></li>
          <li><a href="personJustinas.html">Justinas</a></li>
          <li><a href="personArturas.html">Arturas</a></li>
          <li><a href="personDainius.html">Dainius</a></li>
        </ul>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="index.html">Index</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="aboutus.html">About us</a></li>

      </ul>
    </div>
  </nav>

  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="index.html" class="breadcrumb">Home</a>
        <a href="news.html" class="breadcrumb">News</a>
      </div>
    </div>
  </nav>
      <h2 class="center" style="margin-bottom:6px">News</h2>
      <div id="bord" class="container" class="col s12 m6">
     <div class="col s12 m6 z-depth-3">
      <div class="row">
      <div class="col l3 hide-on-small-only">
      <img id="newsimg" src="img/image.png">
      </div>
      <div class="col l5 s9" class="center.align">
      Name
      <br>
      A <b>paragraph</b> of text with an <a>unassigned link</a>
      <br>
      A <i>second</i> <ins>row</ins> of <del>text</del> with an <a>web link</a>
      <br>
      A <b>paragraph</b> of text with an <a>unassigned link</a>
      <br>
      A <i>second</i> <ins>row</ins> of <del>text</del> with an <a>web link</a>
      </div>
      <div id="newsbutton" class="col l3 s12 valign-wrapper right">
      <a class="waves-effect waves-light btn-large" class="valign" href="singleentry.html" style="margin-top:80px;">Button</a>
      </div>
      </div>
      </div>
      <br>
      <div class="col s12 m6 z-depth-3">
      <div class="row">
      <div class="col l3 hide-on-small-only">
      <img id="newsimg" src="img/image.png">
      </div>
      <div class="col l5 s9" class="center.align">
      Name
      <br>
      A <b>paragraph</b> of text with an <a>unassigned link</a>
      <br>
      A <i>second</i> <ins>row</ins> of <del>text</del> with an <a>web link</a>
      <br>
      A <b>paragraph</b> of text with an <a>unassigned link</a>
      <br>
      A <i>second</i> <ins>row</ins> of <del>text</del> with an <a>web link</a>
      </div>
      <div id="newsbutton" class="col l3 s12 valign-wrapper right">
      <a class="waves-effect waves-light btn-large" class="valign" href="singleentry.html" style="margin-top:80px;">Button</a>
      </div>
      </div>
      </div>
      <br>
      <div class="col s12 m6 z-depth-3">
      <div class="row">
      <div class="col l3 hide-on-small-only">
      <img id="newsimg" src="img/image.png">
      </div>
      <div class="col l5 s9" class="center.align">
      Name
      <br>
      A <b>paragraph</b> of text with an <a>unassigned link</a>
      <br>
      A <i>second</i> <ins>row</ins> of <del>text</del> with an <a>web link</a>
      <br>
      A <b>paragraph</b> of text with an <a>unassigned link</a>
      <br>
      A <i>second</i> <ins>row</ins> of <del>text</del> with an <a>web link</a>
      </div>
      <div id="newsbutton" class="col l3 s12 valign-wrapper right">
      <a class="waves-effect waves-light btn-large" class="valign" href="singleentry.html" style="margin-top:80px;">Button</a>
      </div>
      </div>
      </div>
      </div>

</body>