<head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection" />
<<<<<<< HEAD
      <link rel="stylesheet" href="css/animate.css">

=======
      <link type="text/css" rel="stylesheet" href="css/custom.css" />
>>>>>>> 947da17a4effc221de15d06dd264bc40fabbee1a
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.js"></script>
      <script type="text/javascript" src="js/init.js"></script>

      <nav class="pink darken-4 navBar">
            <div class="col s12 m2">
                  <img src="img/logo.png" class="navLogo" />
                  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                  <ul class="right hide-on-med-and-down">

                        <li class="z-depth-3 teal"><a class="white-text" href="index.html">Index</a></li>
                        <li class="z-depth-3 teal"><a class="white-text" href="news.html">News</a></li>
                        <li <a class='dropdown-button btn navDropDown' href='#' data-activates='dropdown1'>About us</a>
                        </li>

                        <!-- Dropdown Structure -->
                        <ul id='dropdown1' class='dropdown-content'>
                              <li><a href="aboutus.html">About Us</a></li>
                              <li><a href="personJustinas.html">Justinas</a></li>
                              <li><a href="personArturas.html">Arturas</a></li>
                              <li><a href="personDainius.html">Dainius</a></li>
                        </ul>
                  </ul>
                  <ul class="side-nav" id="mobile-demo">
                        <li><a href="index.html">Index</a></li>
                        <li><a href="news.html">News</a></li>
                        <li><a href="aboutus.html">About us</a></li>

                  </ul>
            </div>
      </nav>

      <nav>
            <div class="nav-wrapper">
                  <div class="col s12">
                        <a href="index.html" class="breadcrumb">Home</a>
                        <a href="aboutus.html" class="breadcrumb">About Us</a>
                        <a href="" class="breadcrumb">Single Entry</a>
                  </div>
            </div>
      </nav>

      <h2 class="center bounce">Person</h2>

      <div class="row container z-depth-1 valign-wrapper">
            <div class="col l3 valign">
                  <img src="img/personA.jpg" class="jello" style="width: 150px; height: auto;" />
            </div>

            <div class="col l9 animated bounce">
                  <p>
                        Bacon ipsum dolor amet leberkas pork belly swine, venison pork loin strip steak shank tri-tip beef ribs bresaola flank. Tri-tip
                        chuck strip steak, pig ground round venison tail shankle bresaola rump doner ham pork. Alcatra cupim
                        pork swine. Sausage tongue pork, flank biltong cupim t-bone prosciutto hamburger andouille ball tip
                        tenderloin. Drumstick fatback ball tip strip steak. Beef ribs drumstick alcatra ham venison bresaola.
            </div>
      </div>


      <!-- Charts -->
      <div class="z-depth-1 container">
            <div class="row">
                  <div class="col l4">
                        <h3 class="center">Title</h3>
                        <canvas id="leftPieChart" width="400" height="400"></canvas>
                  </div>

                  <div class="col l4">
                        <h3 class="center">Title</h3>
                        <canvas id="middlePieChart" width="400" height="400"></canvas>
                  </div>

                  <div class="col l4">
                        <h3 class="center">Title</h3>
                        <canvas id="rightPieChart" width="400" height="400"></canvas>
                  </div>
            </div>
            <div class="row">
                  <div class="col l6">
                        <h3 class="center">Title</h3>
                        <canvas id="leftPolarChart" width="400" height="400"></canvas>
                  </div>

                  <div class="col l6">
                        <h3 class="center">Title</h3>
                        <canvas id="rightLineChart" width="200" height="200"></canvas>
                  </div>
            </div>
      </div>

      <script src="js/Chart.bundle.js"></script>
      <script src="js/personArturas.js"></script>
      <!-- Cia pakeisti i savo js faila -->
      <!-- Charts Pabaiga -->


      <div class="row container">
            <div class="col m4 push-m1 z-depth-1" style="margin-top: 50px;">
                  <div class="row valign-wrapper">

                        <div class="col m4 valign">
                              <i class="large material-icons">albumt</i>
                        </div>

                        <div class="col m8">
                              <p>
                                    Lorizzle ipsizzle dolizzle sit amizzle, consectetuer adipiscing yo mamma.
                              </p>
                              <p>
                                    Lorizzle ipsizzle dolizzle sit amizzle, consectetuer adipiscing yo mamma.
                              </p>
                        </div>
                  </div>
            </div>

            <div class="col m4 push-m3 z-depth-1 valign" style="margin-top: 50px;">
                  <div class="row valign-wrapper">

                        <div class="col m4 valign">
                              <i class="large material-icons">albumt</i>
                        </div>

                        <div class="col m8">
                              <p>
                                    Lorizzle ipsizzle dolizzle sit amizzle, consectetuer adipiscing yo mamma.
                              </p>
                              <p>
                                    Lorizzle ipsizzle dolizzle sit amizzle, consectetuer adipiscing yo mamma.
                              </p>
                        </div>
                  </div>
            </div>

      </div>
</body>