<head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection" />
      <link type="text/css" rel="stylesheet" href="css/custom.css" />
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	  <meta charset="UTF-8">
	
	<link rel="stylesheet" href="css/cssPersonDainius.css">
	

      <meta charset="UTF-8">

</head>

<body>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.js"></script>
      <script type="text/javascript" src="js/init.js"></script>

      <nav class="pink darken-4 navBar">
            <div class="col s12 m2">
                  <img src="img/logo.png" class="navLogo" />
                  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                  <ul class="right hide-on-med-and-down">

                        <li class="z-depth-3 teal"><a class="white-text" href="index.html">Index</a></li>
                        <li class="z-depth-3 teal"><a class="white-text" href="news.html">News</a></li>
                        <li <a class='dropdown-button btn navDropDown' href='#' data-activates='dropdown1'>About us</a>
                        </li>

                        <!-- Dropdown Structure -->
                        <ul id='dropdown1' class='dropdown-content'>
                              <li><a href="aboutus.html">About Us</a></li>
                              <li><a href="personJustinas.html">Justinas</a></li>
                              <li><a href="personArturas.html">Arturas</a></li>
                              <li><a href="personDainius.html">Dainius</a></li>
                        </ul>
                  </ul>
                  <ul class="side-nav" id="mobile-demo">
                        <li><a href="index.html">Index</a></li>
                        <li><a href="news.html">News</a></li>
                        <li><a href="aboutus.html">About us</a></li>

                  </ul>
            </div>
      </nav>

      <nav>
            <div class="nav-wrapper">
                  <div class="col s12">
                        <a href="index.html" class="breadcrumb">Home</a>
                        <a href="aboutus.html" class="breadcrumb">About Us</a>
                        <a href="" class="breadcrumb">Single Entry</a>
                  </div>
            </div>
      </nav>

      <h2 class="center animated infinite bounce">Dainius Valančius</h2>

      <div class="row container z-depth-1 valign-wrapper">
            <div class="col l3 valign">
                  <img src="img/as.jpg" style="width: 100%; height: auto;" />
            </div>

            <div class="col l9">
                  <p>
                        Personal Training at LEMON GYM LT Mokesi Šiauliu universitetas Mokėsi Kelmės Jono Graičiūno gimnazija Mokėsi Jono Graičiūno
                        gimnazija Gyvena Vilnius, Lithuania Vienišas (-a) Iš Kelmė, Šiaulių Apskritis, Lithuania
                  </p>
            </div>
      </div>


      <!-- Charts -->
      <div class="z-depth-1 container">
            <div class="row">
                  <div class="col l4">
                        <h3 class="center">Title</h3>
                        <canvas id="leftPieChart" width="400" height="400"></canvas>
                  </div>

                  <div class="col l4">
                        <h3 class="center">Title</h3>
                        <canvas id="middlePieChart" width="400" height="400"></canvas>
                  </div>

                  <div class="col l4">
                        <h3 class="center">Title</h3>
                        <canvas id="rightPieChart" width="400" height="400"></canvas>
                  </div>
            </div>

            <div class="row">
                  <div class="col l6">
                        <h3 class="center">Title</h3>
                        <canvas id="leftPolarChart" width="400" height="400"></canvas>
                  </div>

                  <div class="col l6">
                        <h3 class="center">Title</h3>
                        <canvas id="rightLineChart" width="200" height="200"></canvas>
                  </div>

            </div>
      </div>

      <script src="js/Chart.bundle.js"></script>
      <script src="js/PersonDainius.js"></script>
      <!-- Cia pakeisti i savo js faila -->
      <!-- Charts Pabaiga -->


      <div class="row container">
            <div id="par" class="col m6 z-depth-1" style="margin-top: 50px;">
                  <div class="row valign-wrapper">

                        <div class="col m4 valign">
                              <i class="large material-icons">albumt</i>
                        </div>

                        <div class="col m10">
                              <p>
                                    Personal Training at LEMON GYM LT, mokėsi Kelmės Jono Graičiūno gimnazija. Mokėsi Šiauliu universitetas,gyvena Vilnius, Lithuania.
                              </p>
                              <p>
                                    Personal Training at LEMON GYM LT, mokėsi Kelmės Jono Graičiūno gimnazija. Mokėsi Šiauliu universitetas,gyvena Vilnius, Lithuania.
                              </p>
                        </div>
                  </div>
            </div>

            <div class="col m6 " style="margin-top:50px;">
                             <iframe width="450" height="350" src="https://youtube.com/embed/sEOKuUYMuHE">
						</iframe>
            </div>

      </div>
</body>