<head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection" />

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta charset="UTF-8">
      <title>Person</title>
      <link type="text/css" rel="stylesheet" href="css/custom.css" />
      <link type="text/css" rel="stylesheet" href="css/animate.css" />
</head>

<body>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.js"></script>
      <script type="text/javascript" src="js/init.js"></script>

      <nav class="pink darken-4 navBar">
            <div class="col s12 m2">
                  <img src="img/logo.png" class="navLogo" />
                  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                  <ul class="right hide-on-med-and-down">

                        <li class="z-depth-3 teal"><a class="white-text" href="index.html">Index</a></li>
                        <li class="z-depth-3 teal"><a class="white-text" href="news.html">News</a></li>
                        <li <a class='dropdown-button btn navDropDown' href='#' data-activates='dropdown1'>About us</a>
                        </li>

                        <!-- Dropdown Structure -->
                        <ul id='dropdown1' class='dropdown-content'>
                              <li><a href="aboutus.html">About Us</a></li>
                              <li><a href="personJustinas.html">Justinas</a></li>
                              <li><a href="personArturas.html">Arturas</a></li>
                              <li><a href="personDainius.html">Dainius</a></li>
                        </ul>
                  </ul>
                  <ul class="side-nav" id="mobile-demo">
                        <li><a href="index.html">Index</a></li>
                        <li><a href="news.html">News</a></li>
                        <li><a href="aboutus.html">About us</a></li>

                  </ul>
            </div>
      </nav>

      <nav>
            <div class="nav-wrapper">
                  <div class="col s12">
                        <a href="index.html" class="breadcrumb">Home</a>
                        <a href="aboutus.html" class="breadcrumb">About Us</a>
                        <a href="" class="breadcrumb">Person</a>
                  </div>
            </div>
      </nav>

      <h2 class="center animated infinite tada">Justinas</h2>

      <div class="row container z-depth-1 valign-wrapper animated flipInX">
            <div class="col l3 valign hide-on-med-and-down">
                  <img src="img/kavaHolikas.jpg" class="personImg animated fadeIn" />
            </div>

            <div class="col l9 m12 s12">
                  <p class="animated bounceInDown">Justinas Žarnauskas</p>
                  <p class="animated bounceInRight">2kazkiek metų</p>
                  <p class="animated bounceInUp">Apskaitininkas</p>
            </div>
      </div>


      <!-- Charts -->
      <div class="z-depth-1 container animated flip">
            <div class="row">
                  <div class="col l4">
                        <h3 class="center">Dienos Užimtumas</h3>
                        <canvas id="leftPieChart" width="400" height="400"></canvas>
                  </div>

                  <div class="col l4">
                        <h3 class="center">Man truksta minčių pavadinimui</h3>
                        <canvas id="middlePieChart" width="400" height="400"></canvas>
                  </div>

                  <div class="col l4">
                        <h3 class="center">
                              <--</h3>
                                    <canvas id="rightPieChart" width="400" height="400"></canvas>
                  </div>
            </div>

            <div class="row">
                  <div class="col l6">
                        <h3 class="center">Lost Remote Controls</h3>
                        <canvas id="leftPolarChart" width="400" height="400"></canvas>
                  </div>

                  <div class="col l6">
                        <h3 class="center">Labai kreivas logoritmo grafikas</h3>
                        <canvas id="rightLineChart" width="200" height="200"></canvas>
                  </div>

            </div>
      </div>

      <script src="js/Chart.bundle.js"></script>
      <script src="js/personJustinas.js"></script>
      <!-- Cia pakeisti i savo js faila -->
      <!-- Charts Pabaiga -->

      <div class="row container">
            <div class="col m4 push-m1 z-depth-1 s12 singleEntryBottom animated infinite rubberBand">
                  <div class="row valign-wrapper">

                        <div class="col l5 valign hide-on-med-and-down">
                              <i class="large material-icons">albumt</i>
                        </div>

                        <div class="col l7">
                              <p>
                                    Lorizzle <b>ipsizzle dolizzle</b> sit amizzle, <a href="singleentry.html">consectetuer adipiscing yo mamma.</a>
                              </p>
                              <p>
                                    Lorizzle
                                    <del>ipsizzle dolizzle</del> sit amizzle, consectetuer adipiscing yo mamma.
                                    <a href="http://www.vilniuscoding.lt/">www.vilniuscoding.lt</a>
                              </p>
                        </div>
                  </div>
            </div>

            <div class="col m4 push-m3 z-depth-1 valign s12 singleEntryBottom animated infinite rubberBand">
                  <div class="row valign-wrapper">

                        <div class="col l5 valign hide-on-med-and-down">
                              <i class="large material-icons">albumt</i>
                        </div>

                        <div class="col l7">
                              <p>
                                    Lorizzle <b>ipsizzle dolizzle</b> sit amizzle, <a href="singleentry.html">consectetuer adipiscing yo mamma.</a>
                              </p>
                              <p>
                                    Lorizzle
                                    <del>ipsizzle dolizzle</del> sit amizzle, consectetuer adipiscing yo mamma.
                                    <a href="http://www.vilniuscoding.lt/">www.vilniuscoding.lt</a>
                              </p>
                        </div>
                  </div>
            </div>
      </div>

      </div>
</body>