<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/custom.css" />
    <link type="text/css" rel="stylesheet" href="css/animate.css" />
    <!--Let browser know website is optimized for mobile-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>Single Entry</title>
</head>

<body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>
    <script type="text/javascript" src="js/init.js"></script>

    <nav class="pink darken-4 navBar">
        <div class="col s12 m2">
            <img src="img/logo.png" class="navLogo" />
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">

                <li class="z-depth-3 teal"><a class="white-text" href="index.html">Index</a></li>
                <li class="z-depth-3 teal"><a class="white-text" href="news.html">News</a></li>
                <li <a class='dropdown-button btn navDropDown' href='#' data-activates='dropdown1'>About us</a>
                </li>

                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="personJustinas.html">Justinas</a></li>
                    <li><a href="personArturas.html">Arturas</a></li>
                    <li><a href="personDainius.html">Dainius</a></li>
                </ul>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="index.html">Index</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="aboutus.html">About us</a></li>

            </ul>
        </div>
    </nav>

    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="index.html" class="breadcrumb">Home</a>
                <a href="news.html" class="breadcrumb">News</a>
                <a href="#!" class="breadcrumb">Single Entry</a>
            </div>
        </div>
    </nav>

    <h2 class="center animated rotateIn">Single Entry</h2>

    <div class="row container">
        <div class="col s12 z-depth-1">
            <img src="img/singleEntryImg.jpg" class="singleEntryImg hide-on-small-only" />
            <p>
                Lorizzle ipsizzle dolizzle sit amizzle, consectetuer adipiscing yo mamma. Nullam sapien velizzle, its fo rizzle volutpizzle,
                suscipit for sure, brizzle vizzle, its fo rizzle. Pellentesque we gonna chung tortizzle. Sed eros. Stuff
                fizzle dolor dapibus turpizzle tempizzle shizznit. pellentesque nibh et turpizzle. Vestibulum izzle tortor.
                Gangsta mammasay mammasa mamma oo sa rhoncus fo shizzle. Izzle the bizzle habitasse bow wow wow dictumst.
                Dang dapibizzle. I'm in the shizzle we gonna chung urna, pretizzle eu, mattis mah nizzle, eleifend phat,
                nunc. Stuff suscipizzle. Integer sempizzle velit sizzle mofo.
            </p>
        </div>

        <div class="col m4 push-m1 z-depth-1 s12 singleEntryBottom">
            <div class="row valign-wrapper">

                <div class="col l5 valign hide-on-med-and-down">
                    <i class="large material-icons">albumt</i>
                </div>

                <div class="col l7">
                    <p>
                        Lorizzle <b>ipsizzle dolizzle</b> sit amizzle, <a href="singleentry.html">consectetuer adipiscing yo mamma.</a>
                    </p>
                    <p>
                        Lorizzle
                        <del>ipsizzle dolizzle</del> sit amizzle, consectetuer adipiscing yo mamma.
                        <a href="http://www.vilniuscoding.lt/">www.vilniuscoding.lt</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col m4 push-m3 z-depth-1 valign s12 singleEntryBottom">
            <div class="row valign-wrapper">

                <div class="col l5 valign hide-on-med-and-down">
                    <i class="large material-icons">albumt</i>
                </div>

                <div class="col l7">
                    <p>
                        Lorizzle <b>ipsizzle dolizzle</b> sit amizzle, <a href="singleentry.html">consectetuer adipiscing yo mamma.</a>
                    </p>
                    <p>
                        Lorizzle
                        <del>ipsizzle dolizzle</del> sit amizzle, consectetuer adipiscing yo mamma.
                        <a href="http://www.vilniuscoding.lt/">www.vilniuscoding.lt</a>
                    </p>
                </div>
            </div>
        </div>

    </div>

</body>